# Ignore IDE related files
.vscode
.idea

# Ignore Gradle project-specific cache directory
.gradle
local.properties

# Ignore Gradle build output directory
build
build-*

# Ignore macOS related files
.DS_Store
._*